<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Take a test" />
    <meta
      name="keywords"
      content="test, manager, question, bank, python, java, c, coding"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Taker - 404</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="flex flex-col justify-center items-center gap-4 bg-slate-200 h-screen w-screen"
  >
    <header
      class="flex justify-center items-center bg-slate-300 w-full p-4 h-20"
    >
      <h1 class="text-3xl font-extrabold">Uh oh!</h1>
    </header>
    <main class="flex flex-col h-full">
      <section class="flex flex-col justify-center items-center h-full">
        404 Not Found
      </section>
    </main>
  </body>
</html>
