<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Take a test" />
    <meta
      name="keywords"
      content="test, manager, question, bank, python, java, c, coding"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Taker - Logout</title>
    <script type="text/javascript">
      window.onload = () => {
        function get_cookie(name) {
          return document.cookie.split(";").some((c) => {
            return c.trim().startsWith(name + "=");
          });
        }

        function set_cookie(name, value) {
          if (get_cookie(name)) {
            document.cookie = name + "=" + (value ? ";path=" + path : "");
          }
        }

        set_cookie("token");

        window.location.href = "/";
      };
    </script>
  </head>
  <body></body>
</html>
