<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Take a test" />
    <meta
      name="keywords"
      content="test, manager, question, bank, python, java, c, coding"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Taker - Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="flex flex-col justify-center items-center bg-slate-200 h-screen w-screen"
  >
    <header
      class="flex justify-center items-center bg-slate-300 w-full p-4 h-20"
    >
      <h1 class="text-3xl font-extrabold">Test Taker!</h1>
    </header>
    <main class="flex flex-col h-full">
      <section class="flex flex-col h-full p-4">
        <ol class="list-decimal list-inside flex flex-col gap-2">
          <div>
            <li class="whitespace-pre-line">
              What is the difference between a list and a tuple?\n a) Lists are
              immutable, tuples are mutable\n b) Lists are mutable, tuples are
              immutable\n c) Lists can store any data type while tuples are for
              integers only \n d) There is no difference\n
            </li>
            <textarea
              class="w-full"
              placeholder="Enter your answer here"
            ></textarea>
          </div>
          <div>
            <li class="whitespace-pre-line">
              What is the order of precedence in python?\n a) Exponential,
              Parentheses, Multiplication, Division, Addition, Subtraction\n b)
              Exponential, Parentheses, Division, Multiplication, Addition,
              Subtraction\n c) Parentheses, Exponential, Multiplication,
              Division, Subtraction, Addition\n d) Parentheses, Exponential,
              Multiplication, Division, Addition, Subtraction\n
            </li>
            <textarea
              class="w-full"
              placeholder="Enter your answer here"
            ></textarea>
          </div>
          <div>
            <li>
              Write a program to print the first 10 numbers of the fibonacci
              sequence\n
            </li>
            <textarea
              class="w-full"
              placeholder="Enter your answer here"
            ></textarea>
          </div>
          <div>
            <li>Write a function named lcm to find the LCM of two numbers\n</li>
            <textarea
              class="w-full"
              placeholder="Enter your answer here"
            ></textarea>
          </div>
        </ol>
      </section>
    </main>
  </body>
</html>
